<!DOCTYPE html>
<html>
<head>
    <title>Registrierung</title>
</head>
<body>
    <h1>Registrierung</h1>
    <a href="/">Home</a><br>
    <a href="/login">Login</a><br>
    <form method="POST" action="/register">
        <label for="username">Benutzername:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Passwort:</label>
        <input type="password" id="password" name="password" required><br>
        <label for="lieblingsfarbe">Lieblingsfarbe (Hexadezimal):</label>
        <input type="text" id="lieblingsfarbe" name="lieblingsfarbe" required pattern="^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$"><br>
        <input type="submit" value="Registrieren
